@font-face {
    font-family: 'Open Sauce Sans-Regular';
    src: url('../assets/fonts/Open-Sauce-Sans/TTF/OpenSauceSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sauce Sans-Light';
    src: url('../assets/fonts/Open-Sauce-Sans/TTF/OpenSauceSans-Light.ttf');
}

@font-face {
    font-family: 'Open Sauce Sans-Medium';
    src: url('../assets/fonts/Open-Sauce-Sans/TTF/OpenSauceSans-Medium.ttf');
}

@font-face {
    font-family: "AlbraRegular-Italic";
    src: url('../assets/fonts/AlbraRegular-Italic.ttf');
}

@font-face {
    font-family: 'AlbraRegular';
    src: url('../assets/fonts/AlbraRegular.ttf');
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sauce Sans-Regular';
}

.clickable {
    cursor: pointer;
    user-select: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    background-color: black;
    color: white;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-text {
    font-size: 2rem;
    margin: 0;
}

.header-text span {
    font-family: 'AlbraRegular-Italic';
}

.header-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.headerButton {
    border: none;
    background: black;
    color: white;
    font-size: 1.7rem;
    height: 100%;
    transition-duration: 200ms;
    margin: 0 10px 0 10px;
}

.headerButton:hover {
    background: #404040;
}

.p1 {
    height: 95vh;
    background-image: url('../assets/images/school.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: auto;
    height: 25rem;
    margin: 0 auto;
}

.p2 {
    margin-top: 5rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.p2-headingText {
    text-align: center;
}

.p2-text {
    margin: 0;
}

.l1 {
    color: #999999;
    font-size: 5rem;
    font-family: 'Open Sauce Sans-Light';
}

.l2 {
    font-size: 6rem;
}

.l2 span {
    font-weight: bold;
    font-family: 'AlbraRegular';
}

.l3 {
    font-size: 4rem;
    color: #999999;
    font-family: 'AlbraRegular-Italic';
}

.countDown {
    background: black;
    color: white;
    display: flex;
    margin: 5rem;
    width: 80vw;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 30rem;
    max-width: 55rem;
}

.item {
    margin: 0 2rem 0 2rem;
}

.time {
    font-size: 4rem;
    margin: 0;
    font-weight: 900;
}

.timeText {
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 100;
}

.p3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.p3-headingText {
    font-size: 4rem;
    text-align: center;
}

.p3-headingText span {
    font-family: 'AlbraRegular-Italic';
}

.cards {
    width: 90vw;
    max-width: 100rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.card {
    background-color: #eaeaea;
    margin: 2rem 4em 2rem 4rem;
}

.card-image {
    height: 16rem;
    width: 15rem;
    margin: 1.3rem;
}

.card-name {
    text-align: center;
    margin-top: 0;
    font-size: 1.5rem;
    font-family: 'Open Sauce Sans-Medium';
}